body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  min-height: 100%;
}

main {
  overflow-y: auto; /* Enable scrolling if content exceeds viewport */
}

footer {
  grid-row-start: 3; /* Footer always starts at row 3 */
}

/* Additional styling for header, main, and footer */
header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header {
  margin-bottom: 1em;
}

main {
  padding: 10px;
}

p {
  margin-top: 1em;
}

.card {
  margin: 2em;
  border-width: 0;
}