body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  min-height: 100%;
}

main {
  overflow-y: auto; /* Enable scrolling if content exceeds viewport */
}

footer {
  grid-row-start: 3; /* Footer always starts at row 3 */
}

/* Additional styling for header, main, and footer */
header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header {
  margin-bottom: 1em;
}

main {
  padding: 10px;
}

p {
  margin-top: 1em;
}

.card {
  margin: 2em;
  border-width: 0;
}

.card-title {
  margin-top: 1em;
}

.card-text {
  margin-bottom: 0;
}

.card-img {
  width: 600px;
  height: 400px;
}

.accordion {
  margin: 2em;
}

.alert {
  margin-top: 2em;
  margin-left: 15em;
  margin-right: 15em;
}

.weatherCard {
  margin: 1em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ddd; /* Thin border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  width: 10rem;
  text-align: center;
}
